name: Cleanup Old Docker Images

on:
  workflow_dispatch: # 允许手动触发

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: No-op
        run: |
          echo "Container image cleanup is not configured for this project. Nothing to cleanup here."
